---
layout: default
comments: true
---
<h1>{{ page.title }}</h1>

<p>
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
    <a href="{{ author.url }}">{{ author.name }}</a> <br>
    <span class="post-meta">{{ page.date | date: date_format }}</span>
  {% endif %}
</p>
{% include share-bar.html %}
{{ content }}
<br>
{% if page.tags.size > 0 %}
  <span>
    {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a href="/tag/{{ tag_name }}"><code><nobr>#{{ tag_name }}</nobr></code>&nbsp;</a>
    {% endfor %}
  </span>
{% endif %}
<br>
<br>
<h4>Share this:</h4>
{% include share-bar.html %}
<h2>Sign Up for our Newsletter</h2>

<form id="addComment">
  <label for="userName">Username:</label><br>
  <input type="text" id="userName" name="userName" value=""><br>
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" value=""><br><br>
  <label for="text">Comment:</label><br>
  <input type="text" id="text" name="text" value=""><br><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>
<script>
window.addEventListener("load", function() {
  function getData() {
    var formData = new FormData(form);
    const obj = {};
    for (const pair of formData.entries()) {
      obj[pair[0]] = pair[1];
    }
    
    obj.blogUid = '{{ page.blogUid }}';
    console.log("obj ::", obj);

    return obj;
  }
  
  function handleClick(data) {
    const xhr = new XMLHttpRequest();
    const url = 'https://stopandthinkbackend.herokuapp.com/'
    xhr.open("POST", url, true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify(data));
    // event.preventDefault(); // disable normal form submit behavior
    return false; // prevent further bubbling of event
  }

  var form = document.getElementById("addComment");

  form.addEventListener("submit", function(event) {
    event.preventDefault();
    const data = getData();
    handleClick(data)
  });

});
</script>